html, body {
    font-size: 10px;
    height: 100%;
}

body {
    background-color: var(--color-pomb-and-power);
    width: fit-content;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}